<div>

    <h3> List of Categories </h3>

    <ul>
        <li>
            <button ng-click="$ctrl.filter('computer')" id="computer" class="button-link">Computers</button></li>
        <li>
            <button ng-click="$ctrl.filter('cellPhone')" id="cellPhone" class="button-link">Cell Phones</button></li>
    </ul>
</div>

    <table border="1" style="width:100%">

        <tr class='form-group'>
            <th ts-criteria="ID">ID</th>
            <th ts-criteria="BRAND">BRAND</th>
            <th ts-criteria="MODEL">MODEL</th>
            <th ts-criteria="PRICE">PRICE($)</th>
            <th ts-criteria="OPTIONS">OPTIONS</th>
        </tr>
        <tr ng-repeat="item in $ctrl.items | filter : {category:$ctrl.category}:true" >
            <td>{{item.id}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.model}}</td>
            <td>{{item.price | currency}}</td>
            <td>
                <input type="button" href="" ng-click="$ctrl.update(item)" value="Update" />
                <input type="button" href="" ng-click="$ctrl.delete({id: item.id})" on-delete=$ctrl.onDelete() value="Remove" />
            </td>
        </tr>
    </table>

<!--<div ng-include="'main/categories/edit-item.html'"></div>-->